<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <!--Sidebar content-->

      Search: <input id="query" type="text"> <br>
      Sort by:
      <select>
      	<option value="A">A</option>
      	<option value="B">B</option>
      	<option value="C">C</option>
      </select>


<!--       Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
      </select> -->

    </div>
    <div class="span9">
    	<div class="row-fluid">
    		<h2> List of Mails </h2>

	      <!--Body content-->
	      <ul class="thumbnails">
	        <li ng-repeat="mail in mails" class="span4">
	          <div class="thumbnail">
	          	<a href="#/phones/{{mail.id}}" class=""><img ng-src="{{mail.thumbnail}}"></a>
	          	<div class="caption">
                <span class="badge badge-info">{{mail.senderName}}</span>
	          		<h3><a href="#/phones/{{mail.id}}">{{mail.title}}</a></h3>
	          		<p>{{mail.snippet}}</p>
	          	</div> 
	          </div>
	        </li>
	      </ul>
      </div> <!-- end of row-fluid-->
    </div> <!-- end of span9 -->
  </div> <!-- end of row-fluid -->
</div> <!-- end of container-fluid -->
